body{
	width: 100%;
	margin: 0 auto;
}

a{
	text-decoration: none;
	color: #FFF
}

#twt-header{
	min-height: calc(690px * (8/150));
	height: 5.5vh;
	background-color: #59BAD0;
	color: #FFF;
}

.foto{
	width:100%;
}