#twt-status{
	min-height: calc(690px * (44/150));
	height: 30vh;
	background-color: #E0E0E0;
	padding-top: 60px;
}

#twt-content{
	min-height: 70vh;
	height: 100%;
	background-color: #F5F5F5;
}

.con-friend-status{
	margin-top: 15px;
}

.friend-status{
	background-color: #FFF;
	margin-bottom: 15px;
	padding: 15px;
	box-shadow: 3px 3px 5px grey;
}

.my-status{
	background-color: #EFF3E4;
	margin-bottom: 15px;
	padding: 15px;
	box-shadow: 3px 3px 5px grey;
}

.valign-center{
	display: flex; 
	align-items: center; 
	height: 100%;
}
