body{
	overflow: hidden;
}

#twt-content{
	min-height: 100vh;
	height: 100%;
	background-color: #F5F5F5;
}

#form_login .form-control-feedback{
      top: 25px !important;
      right: 0px !important;
		color: red;
}